{% extends 'template.html' %}
{% block content %}
<title>{{data.fname}} {{data.lname}}</title>
<article>
    <form method="POST">
        <input tyoe="text" name="id" style="font-size: 0;display: none;" value="{{data.doc_id}}">
        {% csrf_token %}
        <div class="grid">
            <div>
                <label>Patient Name<input type="text" name="name" id="" value="{{data.fname}} {{data.lname}}" readonly></label>
            </div>
            <div>
                <label>Email ID<input type="text" name="email" id="" value="{{data.email}}" readonly></label>
            </div>
            <div>
                <label>Mobile no.<input type="number" name="mobile" id="" value="{{data.mobile}}" readonly></label>
            </div>
        </div>
        <div class="grid">
            <div>
                <label for="">Age<input type="number" name="age" id="" value="{{data.age}}" readonly></label>
            </div>
            <div>
                <label for="">Gender<input type="text" name="gender" id="" value="{{data.gender}}" readonly></label>
            </div>
            <div>
                <label for="">Appointment Date<input type="text" name="date" id="" value="{{data.date}}" readonly></label>
            </div>
            <div>
                <label for="">Appointment Time<input type="text" name="time" id="" value="{{data.time}}" readonly></label>
            </div>
        </div>
        <div class="grid">
            <div>
                <label for="">Doctor<input type="text" name="doc_name" id="" value="{{data.doc_name}}" readonly></label>
            </div>
            <div class="grid">
                <div>
                    <label style="color: transparent;">.<input style="background-color: transparent;color: #43a047;border: 3px solid;font-weight: bold;" type="submit" value="Approve" aria-invalid="false" name="decide" role="radio"></label>
                </div>
                <div>
                    <label style="color: transparent;">.<input style="background-color: transparent;color: #ff0000;border-color: #ff0000;border: 3px solid;font-weight: bold;" type="submit" value="Disapprove" aria-invalid="true" name="decide" role="radio"></label>
                </div>
            </div>
        </div>
    </form>
</article>
{% endblock %}