{% extends 'template.html' %}
{% block content %}
<article>
    {% for message in messages %}
    <small style="color: darkblue;">{{message}}</small>
    {% endfor %}
    <nav style="border-bottom: 4px solid #43a047;margin-bottom: 1%;">
        <h2 style="margin-bottom: 0px;">Appointments</h2>
    </nav>
    <article>
        <table>
            <tr><td style="font-size: x-large;">Patient Name</td><td style="font-size: x-large;">Age</td><td style="font-size: x-large;">Date</td><td style="font-size: x-large;">Doctor</td></tr>
            {% for app in appointments %}
            <tr><td><a href="{% url 'patient_data' app.id %}">{{app.fname}} {{app.lname}}</a></td><td>{{app.age}}</td><td>{{app.date}}</td><td>{{app.doc_name}}</td></tr>
            {% endfor %}
        </table>
    </article>
</article>
{% endblock %}