{% extends 'template.html' %}
{% block content %}
<article>
    {% for message in messages %}
    <small style="color: darkblue;">{{message}}</small>
    {% endfor %}
    <nav style="border-bottom: 4px solid #43a047;margin-bottom: 1%;">
        <h2 style="margin-bottom: 0px;">Patients</h2>
    </nav>
    <article>
        <table>
            <tr><td style="font-size: x-large;">Patient Name</td><td style="font-size: x-large;">Age</td><td style="font-size: x-large;">Gender</td></tr>
            {% for pat in patients %}
            <tr><td><a href="{% url 'patient_details' pat.pid %}">{{pat.name}}</a></td><td>{{pat.age}}</td><td>{{pat.gender}}</td></tr>
            {% endfor %}
        </table>
    </article>
</article>
{% endblock %}